{% extends 'bootstrap/base.html' %}

{% block title %}first_project{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/base.css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top my-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-size: 30px">Flask</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if session.user_info %}
                        <li><a href=""><span class="glyphicon glyphicon-user">&#8195;{{ session.user_info }}</span></a>
                        </li>
                        <li><a href="{{ url_for ("main.logout") }}"><span>注销</span></a></li>
                    {% else %}
                        <li><a href="{{ url_for ("main.login") }}"><span class="glyphicon glyphicon-user" style="font-size: 15px"></span>&nbsp;登&nbsp;录</a>
                        </li>
                        <li><a href="{{ url_for ("main.register") }}"><span class="glyphicon glyphicon-user" style="font-size: 15px"><span
                                class=" glyphico glyphicon-plus-sign"
                                style="font-size: 2px;"></span></span>&nbsp;注&nbsp;册</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}